<div>
  <!-- Your code goes here -->
  <div class="card" style="width: 18rem;">
    <h5 class="card-body card-title">Card title</h5>
    <img class="card-img" src="http://goo.gl/vyAs27" alt="Card image" >
    <div class="card-body">
      <p class="card-text text-info">Card footer. Lorem ipsum etc..</p>
    </div>
  </div>
  <!-- End of your code -->
</div>