<div>
  <!-- Your code goes here -->
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://picsum.photos/500" alt="Card image cap">
    <div class="card-body">
  		<h5 class="card-title">Card title</h5>
    </div>
    <div class="card-footer text-muted">
	    Footer
  	</div>
  </div>
  <!-- End of your code -->
</div>
