<div>
  <!-- Your code goes here -->
  <!--I want to be a card...-->
  <div class="row">
  <div class="col-md-6">
    <div class="card">
	<img class="card-img-top" src="https://picsum.photos/id/1025/400" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Yes, I'm a card!</h5>		
        <p class="card-text">I feel a little lonely. Please, can I have a friend? Everything is better with a friend!</p>
      </div>
	  <div class="card-footer text-muted">
	    Bootstrap even resizes me if you change resolutions.
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
	<img class="card-img-top" src="https://picsum.photos/id/1074/400" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">It's okay, don't worry!</h5>
        <p class="card-text">I'll not eat you, I'll be your friend. We can play Scrabble on chilly winter nights or make Zoom meetings.</p>        
      </div>
	  <div class="card-footer text-muted">
	    In any view the lion is bigger.
      </div>
    </div>
  </div>
</div>
  <!-- End of your code -->
</div>
