<div>
  <div class="card">
    <div class="card-header" id="heading">
      <h2 class="mb-0 text-center">
        <button class="btn btn-warning" type="button" data-toggle="collapse" data-target="#collapse" aria-expanded="true" aria-controls="collapse">
          Click me!
        </button>
      </h2>
    </div>

    <div id="collapse" class="collapse" aria-labelledby="heading">
      <div class="card-body p-0">
        <div style="width:100%;height:0;padding-bottom:75%;position:relative;">
          <iframe src="https://giphy.com/embed/Ju7l5y9osyymQ" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        </div>
      </div>
      <div class="card-footer">
        <strong class="text-danger">Welcome to the danger zone!!</strong> (actually that's from <a href="https://www.youtube.com/watch?v=siwpn14IE7E" target="_blank">another song</a>...)
      </div>
    </div>
  </div>
</div>
