<div class="container">
    <div class="card">
            <img src="assets/img/stars.jpg">
        <div class="card-body" style="text-align:center">
            <h2 class="card-title">Stars above us in Tasmania, Australia</h2>
        </div>
        <div class="card-footer" style="text-align:right">
            <i><h5><font color="blue">Photo by Ken Cheung <a href="https://unsplash.com/photos/08Gw5sLMTCk">https://unsplash.com/photos/08Gw5sLMTCk</a></font></h5></i>
        </div>
    </div>
</div>
