<div>
  <!-- Your code goes here -->

  <!--
  <div class="card mb-3">
  <img src"..." class"card-img-top" alt="will definitly not here" >
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src"..." class"card-img" alt="will definitly add an image" style="display:None">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"> I want to be a card... </h5>
          <p class="card-text" style="color:red"> Some random txt from a Franch Guy </p>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-info">for some info</button>
            <p class="card-text"><small style="color:purple">Was fancy so I add it</small></p>
        </div>
      </div>
    </div>
  </div>
  -->

  <div class="card">
  <img src"..." class"card-img-top" alt="will definitly not here" >
    <div class="card-body">
      <h5 class="card-title"> There is a title just here </h5>
      <p class="card-text"> I want to be a card... </p>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-info">for some info</button>
        <p class="card-text"><small style="color:purple">Was fancy so I add it</small></p>
    </div>
  </div>
  <!-- End of your code -->
</div>
